@import "vendor/normalize-scss/sass/_normalize.scss";
@import './_theme';
@include normalize();

body {
  background-color: $app-default;
  color: $app-light;
}

form {
  color: $app-dark;
  text-align: center;
  border: 3px dashed 
}
